@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
div,
a,
button,
input,
ul,
li {
  margin: 0 0;
  padding: 0 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

/* main */

.main {
  width: 100%;
  height: 100vh;
  /*
  if opening it with the live server use this path for the image 
  */
  /*
  background: linear-gradient(91deg, #106476 35.94%, rgba(52, 133, 150, 0) 100%),url("/assets/images/background.svg") no-repeat;
  */
  /*else use this absolute path for the image
  */
  background: linear-gradient(91deg, #106476 35.94%, rgba(52, 133, 150, 0) 100%),url("/Users/fasihmuhammad/Desktop/Hero Section/assets/images/background.svg") no-repeat;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  z-index: -1;
}

/* main body*/

.main .mainbody {
  width: 100%;
  height: auto;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

/*left div in mainbody css*/

.main .mainbody .lefttext {
  width: 90.25%;
  padding: 2rem;
  z-index: 1;
}

/*left div first text box*/
.main .mainbody .lefttext .text1 {
  color: #fff;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.025rem;
  margin-top: 6.5rem;
}

/*left div second text box*/
.main .mainbody .lefttext .text2 {
  margin-top: 1.5rem;
  color: #fff;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

/*left div bottom text box*/
.main .mainbody .lefttext .bottomtext {
  margin-top: 2rem;
  display: flex;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 126.523%;
  text-align: center;
}

/*left dic bottom text box p css*/
.main .mainbody .lefttext .bottomtext p {
  margin-left: 1rem;
}

/*right div in main body*/
.main .mainbody .righttext {
  width: 9.75%;
  z-index: 1;
}

/*right div ul */
.main .mainbody .righttext .content ul {
  position: absolute;
  bottom: 0;
  display: block;
  justify-content: flex-end;
  list-style-type: none;
}

/*right div li */
.main .mainbody .righttext .content ul li {
  margin-top: 3rem;
}

/* Media Queries*/

@media (max-width: 970px) {
  /*realated to the second div after main , mainbody*/
  .main .mainbody {
    height: 100vh; /*give full view*/
    overflow: auto; /*for scrolling*/
    display: block;
    position: relative;
  }

  /*left div in the mainbody and it content*/
  .main .mainbody .lefttext {
    width: 100%;
    padding: 2rem;
    position: absolute;
  }
  .main .mainbody .lefttext .text2 {
    margin-right: 2rem;
  }

  .main .mainbody .lefttext .text2 {
    margin-right: 2rem;
  }

  /*right div and its contents*/
  .main .mainbody .righttext {
    padding: 2rem;
    width: 100%;
    height: 100hv;
    margin-top: 3rem;
    position: absolute;
    top: 0; /*to put right div on the top of left div*/
  }

  .main .mainbody .righttext .content {
    display: flex;
    justify-content: center;
  }

  .main .mainbody .righttext .content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .main .mainbody .righttext .content ul li {
    display: inline-block;
    margin-right: 2rem; /* Optional spacing between list items */
  }
}
