* {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

header {
    margin-top: 5vh; 
}

li {
    padding-right: 3vw; 
    color: #6D6D6D;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

#home-txt {
    color: #348596;
}

#c-btn {
    margin-bottom: 5px;
    background-color: #106476;
    color: #FFFFFF;
    margin-right: 5vw; 
    padding: 1vh 2vw; 
    border: none;
    border-radius: 5px;
    font-weight: 800;
}

#logo,
#flogo {
    color: #106476;
    margin-left: 5vw; 
    font-weight: 800;
    font-size: 2vw; 
    font-family: 'Inter', sans-serif;
}

footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: #f0f0f0;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#flinks {
    margin-left: 27.8vw; 
    font-weight: 500;
    
}

#contactinfo{

    padding-left: 9.50;


}

#col-content {
    width: 40vw; 
    height: 20vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 7vw; 
}

#col-content li {
    display: flex;

    
    
}

#col-content li img {
    margin-right: 1vw; 
}


#cell-icon{

    padding-right: 10.05vw;
}

#loc-icon{

    padding-left: 2.08vw;
}

#about-txt{

    width:100px;
    padding-right: 1.3vw;
}

@media (max-width:1550px){


    #flogo{
        
        margin-left:  3.68vw;

    }

    #flinks{

        margin-left: 27.10vw;
    }

    #cell-icon{

        padding-right: 12.06vw;
    }
}

@media (max-width:1310px){

    #flinks{

        margin-left: 25.65vw;
    }

    #about-txt{

        padding-right:  0.38vw;
    }

    #cell-icon{

        padding-right: 13.74vw;
    }

    #loc-icon{

        padding-left: 37px;
    }

    #flogo{
        margin-left:3.44vw;
    }
}
@media (max-width: 1280px) {
    #flinks {
        margin-left: 15vw;
    }

    #col-content {
        margin-right: 0;
    }

    #cell-icon{

        padding-right:  13.67vw;
    }

    #loc-icon{

        padding-left: 3.125vw;
    }

    #about-txt{

        width:77px;
    }

    #flinks{

        margin-left: 21vw
    }

    #flogo{

        margin-left: 44px;
    }
}

@media (max-width: 1024px) {
    #flinks {
        margin-left: 21.29vw ; 
    }

    #about-txt {
        padding-right: 2.54vw;
        flex-shrink: 0;
    }

    #col-content {
        margin-left: 5vw; 
    }

    #loc-icon {
        margin-left: 0px; 
    }

    #cell-icon{

        padding-right: 13.96vw;
    }
    #col-content{

        font-size: small;
    }
}

@media (max-width:983px){

    #col-content{

        margin-left:0px;
    }
}

@media (max-width:908px){

    #flogo{

        margin-left:  2.87vw;
    }


    #cell-icon{

        padding-right:  15.42vw;
    }
}
@media(max-width:842px){


    #flogo{

        margin-left: 2.49vw;
    }

    #flinks{

        margin-left:19.00vw ;
    }

    #about-txt{

        padding-right:1.66vw;
    }

    #col-content{

        margin-left: 0px;
    }

    #cell-icon{

        padding-right:  16.65vw;
    }
}

@media (max-width: 768px) {


    #flogo{

        margin-left: 0.52vw;
    }
    #flinks {
        margin-left: 18.46vw;

        
    }

    #cell-icon{
        
        padding-right:17.8472;


    }

    footer {
        font-size: 13px;
       
    }

    header {
        font-size: 13px;
    }

    #col-content {
        margin-left: 0;
    }

    #cell-icon {
        padding-right: 8vw; 
    }

    #logo {
        margin-left: 3vw; 
    }

   
}


@media (max-width:730px){

    #cell-icon {
        
        padding-right:  19.18vw ;
    }
}

@media (max-width:460px){

#logo{

    padding-top: 14px;


}

#links{

    padding-top:0.21vw;
}

#flinks{


    margin-left: 35px;
}
#about-txt{

    width: 67.03px;
    padding-right:0px;
}

#c-btn{

    margin-top: 5px;
}

#flogo{

    margin-left: 0px;
}

#footer-content{

    margin-right:5px;
}
#col-content{

    font-size:xx-small ;

    margin-top: 10px;
}

#col-content li img{

    width:14px;
    height: 14px;

}

#cell-icon{

    padding-right: 88px;
}

#loc-icon{

    padding-left: 5px;
}
}